<div
    class="
        fade
        modal
    "
    id="confirmModal"
    tabindex="-1"
    >
    <div
        class="
            modal-dialog
        "
        >
        <div
            class="
                modal-content
            "
            >
            <div
                class="
                    modal-header
                "
                >
                <button
                    class="
                        close
                    "
                    data-dismiss="modal"
                    type="button"
                    >
                    <span>&times;</span>
                </button>
                <h4
                    class="
                        modal-title
                    "
                    id="myModalLabel"
                    >
                    Confirmação de Inscrição
                </h4>
            </div>
                <form>
                <div
                    class="
                        modal-body
                    "
                    >
                    <div
                        class="
                            form-group
                        "
                        >
                        <label
                            class="
                                control-label
                            "
                            for="confirmacao.nome_completo"
                            >
                            Nome Completo
                        </label>
                        <input
                            class="
                                form-control
                            "
                            id="confirmacao.nome_completo"
                            name="confirmacao.nome_completo"
                            value="{{list.inscricaoPorConfirmar.nome_completo}}"
                            readonly="true"
                            >
                    </div>
                    <div
                        class="
                            form-group
                        "
                        >
                        <label
                            class="
                                control-label
                            "
                            for="confirmacao.cpf"
                            >
                            <abbr
                                class="
                                    initialism
                                "
                                title="Cadastro de Pessoa Física"
                                >
                                CPF
                            </abbr>
                        </label>
                        <input
                            class="
                                form-control
                            "
                            id="confirmacao.cpf"
                            name="confirmacao.cpf"
                            value="{{list.inscricaoPorConfirmar.cpf}}"
                            readonly
                            >
                    </div>
                    <div
                        class="
                            form-group
                        "
                        >
                        <label
                            class="
                                control-label
                            "
                            for="confirmacao.valor_pago"
                            >
                            Valor Pago
                        </label>
                        <input
                            class="
                                form-control
                            "
                            id="confirmacao.valor_pago"
                            name="confirmacao.valor_pago"
                            type="text"
                            >
                    </div>
                    <div
                        class="
                            form-group
                        "
                        >
                        <label
                            class="
                                control-label
                            "
                            for="confirmacao.data_de_pagamento"
                            >
                            Data de Pagamento
                        </label>
                        <input
                            class="
                                form-control
                            "
                            id="confirmacao.data_de_pagamento"
                            name="confirmacao.data_de_pagamento"
                            type="text"
                            >
                    </div>
                </div>
                <div
                    class="
                        modal-footer
                    "
                    >
                    <button
                        class="
                            btn
                            btn-default
                        "
                        data-dismiss="modal"
                        type="button"
                        >
                        Cancelar
                    </button>
                    <button
                        class="
                            btn
                            btn-success
                        "
                        type="button"
                        >
                        Confirmar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
