<div
    class="
        fade
        modal
    "
    data-ng-controller="inscricao.Confirm as confirm"
    id="confirmModal"
    tabindex="-1"
    >
    <div
        class="
            modal-dialog
        "
        >
        <div
            class="
                modal-content
            "
            >
            <div
                class="
                    modal-header
                "
                >
                <button
                    class="
                        close
                    "
                    data-dismiss="modal"
                    type="button"
                    >
                    <span>
                        &times;
                    </span>
                </button>
                <h4
                    class="
                        modal-title
                    "
                    >
                    Confirmação de Inscrição
                </h4>
            </div>
                <form
                    data-ng-submit="confirm.submit()"
                    name="confirm.ficha"
                    novalidate
                    >
                <div
                    class="
                        modal-body
                    "
                    >
                    <div
                        class="
                            alert
                            alert-warning
                        "
                        >
                        <strong>
                            Atenção!
                        </strong>
                        Os campos marcados com um
                        <span
                            class="
                                glyphicon
                                glyphicon-asterisk
                            "
                        >
                        </span>
                        (asterisco) são obrigatórios.
                    </div>
                    <div
                        class="
                            form-group
                        "
                        >
                        <label
                            class="
                                control-label
                            "
                            for="nome_completo"
                            >
                            Nome Completo
                        </label>
                        <input
                            class="
                                form-control
                            "
                            id="nome_completo"
                            name="nome_completo"
                            value="{{confirm.inscricao.copy.nome_completo}}"
                            readonly="true"
                            >
                    </div>
                    <div
                        class="
                            form-group
                        "
                        >
                        <label
                            class="
                                control-label
                            "
                            for="cpf"
                            >
                            <abbr
                                class="
                                    initialism
                                "
                                title="Cadastro de Pessoa Física"
                                >
                                CPF
                            </abbr>
                        </label>
                        <input
                            class="
                                form-control
                            "
                            id="cpf"
                            name="cpf"
                            value="{{confirm.inscricao.copy.cpf}}"
                            readonly
                            >
                    </div>
                    <div
                        class="
                            form-group
                        "
                        data-ng-class="{
                            'has-error': confirm.isInvalidField('valor_pago')
                        }"
                        >
                        <label
                            class="
                                control-label
                            "
                            for="valor_pago"
                            >
                            Valor Pago
                            <span
                                class="
                                    glyphicon
                                    glyphicon-asterisk
                                "
                                >
                            </span>
                        </label>
                        <div
                            class="
                                input-group
                            "
                            >
                            <div class="
                                input-group-addon
                                "
                                >
                                R$
                            </div>
                            <input
                                class="
                                    form-control
                                "
                                data-ng-model="confirm.inscricao.copy.valor_pago"
                                id="valor_pago"
                                name="valor_pago"
                                required
                                type="text"
                                >
                        </div>
                    </div>
                    <div
                        class="
                            form-group
                        "
                        data-ng-class="{
                            'has-error': confirm.isInvalidField('data_de_pagamento')
                        }"
                        >
                        <label
                            class="
                                control-label
                            "
                            for="data_de_pagamento"
                            >
                            Data de Pagamento
                            <span
                                class="
                                    glyphicon
                                    glyphicon-asterisk
                                "
                                >
                            </span>
                        </label>
                        <input
                            class="
                                form-control
                            "
                            data-ez-valid-date
                            data-ng-model="confirm.inscricao.copy.data_de_pagamento"
                            id="data_de_pagamento"
                            maxlength="10"
                            name="data_de_pagamento"
                            required
                            type="text"
                            >
                    </div>
                </div>
                <div
                    class="
                        modal-footer
                    "
                    >
                    <button
                        class="
                            btn
                            btn-default
                        "
                        data-dismiss="modal"
                        type="button"
                        >
                        Fechar
                    </button>
                    <button
                        class="
                            btn
                            btn-success
                        "
                        data-ng-disabled="confirm.actionButtonsDisabled"
                        type="submit"
                        >
                        Confirmar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
