<div
    data-state="edit.state"
    ez-envelope
    >
    <div
        class="
            row
        "
        >
        <div
            class="
                col-md-12
            "
            >
            <h1>
                Submissão de Trabalho Científico
            </h1>
            <hr>
            <div
                class="
                    row
                "
                data-ng-if="edit.devMode"
                >
                <div
                    class="
                        col-md-12
                    "
                    >
                    <div
                        class="
                            alert
                            alert-warning
                        "
                        >
                        <strong>
                            Atenção!
                        </strong>
                        A submissão de trabalhos será possível em breve.
                    </div>
                </div>
            </div>
            <div
                data-ng-if="edit.blocked &amp;&amp; !edit.devMode"
                >
                <div
                    class="
                        row
                    "
                    >
                    <div
                        class="
                            col-md-12
                        "
                        >
                        <div
                            class="
                                alert
                                alert-info
                            "
                            >
                            <strong>
                                Limite de submissões atingido!
                            </strong>
                            Você atingiu o limite de <strong>{{edit.limiteDeSubmissoes}}</strong> submissões. Não é possível realizar novas submissões.
                        </div>
                    </div>
                </div>
            </div>
            <div
                data-ng-if="!edit.blocked &amp;&amp; !edit.devMode"
                >
                <div
                    class="
                        row
                    "
                    >
                    <div
                        class="
                            col-md-12
                        "
                        >
                        <div
                            class="
                                alert
                                alert-warning
                            "
                            >
                            <button
                                class="
                                    close
                                "
                                data-dismiss="alert"
                                type="button"
                                >
                                &times;
                            </button>
                            <strong>
                                Atenção!
                            </strong>
                            Os campos marcados com um
                            <span
                                class="
                                    glyphicon
                                    glyphicon-asterisk
                                "
                            >
                            </span>
                            (asterisco) são obrigatórios.
                        </div>
                        <form
                            data-ng-submit="edit.submit()"
                            name="edit.ficha"
                            novalidate
                            >
                            <div
                                class="
                                    form-group
                                "
                                data-ng-class="{
                                    'has-error': edit.isInvalidField('area_tematica')
                                }"
                                >
                                <label
                                    class="
                                        control-label
                                    "
                                    for="area_tematica"
                                    >
                                    Área Temática
                                    <span
                                        class="
                                            glyphicon
                                            glyphicon-asterisk
                                        "
                                        >
                                    </span>
                                </label>
                                <select
                                    class="
                                        form-control
                                    "
                                    data-ng-model="edit.trabalho.area_tematica"
                                    id="area_tematica"
                                    name="area_tematica"
                                    required
                                    >
                                    <option value="">Selecione uma Área Temática</option>
                                    <option value="1">Cardiologia</option>
                                    <option value="2">Ciências Básicas</option>
                                    <option value="3">Cirurgia</option>
                                    <option value="4">Clínica Médica</option>
                                    <option value="5">Enfermagem</option>
                                    <option value="6">Fisioterapia</option>
                                    <option value="7">Geriatria</option>
                                    <option value="8">Ginecologia e Obstetrícia</option>
                                    <option value="9">Infectologia</option>
                                    <option value="10">Miscelânea</option>
                                    <option value="11">Neurologia</option>
                                    <option value="12">Nutrição</option>
                                    <option value="13">Odontologia</option>
                                    <option value="14">Oncologia</option>
                                    <option value="15">Pediatria</option>
                                    <option value="16">Políticas Públicas</option>
                                    <option value="17">Pneumologia</option>
                                    <option value="18">Psicologia</option>
                                    <option value="19">Saúde do Idoso</option>
                                    <option value="20">Serviço Social</option>
                                    <option value="21">Tecnologia em Saúde</option>
                                    <option value="22">Terapia Ocupacional</option>
                                </select>
                            </div>
                            <div
                                class="
                                    form-group
                                "
                                data-ng-class="{
                                    'has-error': edit.isInvalidField('titulo')
                                }"
                                >
                                <label
                                    class="
                                        control-label
                                    "
                                    for="titulo"
                                    >
                                    Título
                                    <span
                                        class="
                                            glyphicon
                                            glyphicon-asterisk
                                        "
                                        >
                                    </span>
                                </label>
                                <input
                                    class="
                                        form-control
                                    "
                                    data-ng-model="edit.trabalho.titulo"
                                    id="titulo"
                                    maxlength="250"
                                    name="titulo"
                                    required
                                    type="text"
                                    >
                            </div>
                            <div
                                class="
                                    form-group
                                "
                                data-ng-class="{
                                    'has-error': edit.isInvalidField('autores')
                                }"
                                >
                                <label
                                    class="
                                        control-label
                                    "
                                    for="autores"
                                    >
                                    Autores
                                    <span
                                        class="
                                            glyphicon
                                            glyphicon-asterisk
                                        "
                                        >
                                    </span>
                                </label>
                                <input
                                    class="
                                        form-control
                                    "
                                    data-ng-list="; "
                                    data-ng-model="edit.trabalho.autores"
                                    id="autores"
                                    maxlength="250"
                                    name="autores"
                                    required
                                    type="text"
                                    >
                                    <p
                                        class="
                                            help-block
                                        "
                                        >
                                        Exemplo: {{::edit.examples.autores}}
                                    </p>
                            </div>
                            <div
                                class="
                                    form-group
                                "
                                data-ng-class="{
                                    'has-error': edit.isInvalidField('tipo_de_resumo')
                                }"
                                >
                                <label
                                    class="
                                        control-label
                                    "
                                    for="tipo_de_resumo"
                                    >
                                    Tipo de Resumo
                                    <span
                                        class="
                                            glyphicon
                                            glyphicon-asterisk
                                        "
                                        >
                                    </span>
                                </label>
                                <select
                                    class="
                                        form-control
                                    "
                                    data-ng-model="edit.trabalho.tipo_de_resumo"
                                    id="tipo_de_resumo"
                                    name="tipo_de_resumo"
                                    required
                                    >
                                    <option value="">Selecione um Tipo de Resumo</option>
                                    <option value="1">Expandido</option>
                                    <option value="2">Simples</option>
                                </select>
                            </div>
                            <div
                                class="
                                    form-group
                                "
                                data-ng-class="{
                                    'has-error': edit.isInvalidField('arquivo')
                                }"
                                >
                                <label
                                    class="
                                        control-label
                                    "
                                    for="arquivo"
                                    >
                                    Arquivo
                                    <span
                                        class="
                                            glyphicon
                                            glyphicon-asterisk
                                        "
                                        >
                                    </span>
                                </label>
                                <input
                                    accept="
                                        .doc,
                                        .docx,
                                        application/msword,
                                        application/vnd.openxmlformats-officedocument.wordprocessingml.document
                                    "
                                    data-ng-file-select
                                    data-ng-model="edit.arquivo"
                                    id="arquivo"
                                    name="arquivo"
                                    type="file"
                                    required
                                    >
                                    <p
                                        class="
                                            help-block
                                        "
                                        >
                                        Arquivo selecionado: {{edit.arquivo[0].name || 'Nenhum'}}
                                    </p>
                            </div>
                            <div
                                class="
                                    progress
                                "
                                data-ng-init="edit.percentualDeEnvioDoArquivo = 0"
                                >
                                <div
                                    class="
                                        active
                                        progress-bar
                                        progress-bar-success
                                        progress-bar-striped
                                    "
                                    data-ng-style="{
                                        'width': edit.percentualDeEnvioDoArquivo + '%'
                                    }"
                                    >
                                    <span
                                        class="
                                            sr-only
                                        "
                                        >
                                        {{edit.percentualDeEnvioDoArquivo}}% Completo
                                    </span>
                                </div>
                            </div>
                            <button
                                class="
                                    btn
                                    btn-success
                                "
                                data-ng-disabled="edit.actionButtonsDisabled"
                                type="submit"
                                >
                                <span
                                    class="
                                        glyphicon
                                        glyphicon-cloud-upload
                                    "
                                    >
                                </span>
                                Enviar
                            </button>
                            <button
                                class="
                                    btn
                                    btn-link
                                    pull-right
                                "
                                data-ng-click="edit.forget()"
                                data-ng-disabled="edit.actionButtonsDisabled"
                                type="button"
                                >
                                Limpar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
