<div
    data-state="list.state"
    ez-envelope
    >
    <div
        class="
            row
        "
        >
        <div
            class="
                col-md-12
            "
            >
            <h1>
                Trabalhos Científicos
            </h1>
            <hr>
            <div
                class="
                    row
                "
                >
                <div
                    class="
                        col-md-12
                    "
                    >
                    <div>
                        <label
                            class="
                                checkbox-inline
                            "
                            >
                            <input
                                data-ng-model="list.filterAvaliados"
                                type="checkbox"
                                >
                            Mostrar Avaliados
                        </label>
                        <label
                            class="
                                checkbox-inline
                            "
                            >
                            <input
                                data-ng-model="list.filterNaoAvaliados"
                                type="checkbox"
                                >
                            Mostrar Não-Avaliados
                        </label>
                    </div>
                    <div
                        class="
                            text-right
                        "
                        >
                        Total: <b>{{list.filtered.length}}</b>
                    </div>
                    <div
                        class="
                            table-responsive
                        "
                        >
                        <table
                            class="
                                table
                                table-bordered
                                table-hover
                            "
                            >
                            <thead>
                                <tr>
                                    <th>
                                        id
                                    </th>
                                    <th>
                                        Área Temática
                                    </th>
                                    <th>
                                        Título
                                    </th>
                                    <th>
                                        Tipo de Resumo
                                    </th>
                                    <th>
                                        Avaliar
                                    </th>
                                    <th>
                                        Recomendar
                                    </th>
                                    <th>
                                        Autores
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                    <!-- data-ng-repeat="trabalho in list.filtered = (list.trabalhos | filter: list.filterFunction) track by $index" -->
                                    <!-- data-ng-repeat="trabalho in list.trabalhos | filter: list.filterFunction" -->
                                <tr
                                    data-ng-repeat="trabalho in list.filtered = (list.trabalhos | filter: list.filterFunction)"
                                    >
                                    <td>
                                        {{::trabalho.id}}
                                    </td>
                                    <td>
                                        {{::trabalho.area_tematica | uppercase}}
                                    </td>
                                    <td>
                                        {{::trabalho.titulo}}
                                    </td>
                                    <td>
                                        {{::trabalho.tipo_de_resumo | uppercase}}
                                    </td>
                                    <td
                                        class="
                                            text-center
                                        "
                                        >
                                        <div
                                            class="
                                                btn-group-vertical
                                            "
                                            >
                                            <button
                                                class="
                                                    btn
                                                    btn-default
                                                    btn-xs
                                                "
                                                data-ng-class="{
                                                    'btn-success': trabalho.status === 1
                                                }"
                                                data-ng-click="list.evaluate(trabalho, true)"
                                                data-ng-disabled="list.actionButtonsDisabled"
                                                type="button"
                                                >
                                                Aprovar
                                            </button>
                                            <button
                                                class="
                                                    btn
                                                    btn-default
                                                    btn-xs
                                                "
                                                data-ng-class="{
                                                    'btn-danger': trabalho.status === 0
                                                }"
                                                data-ng-click="list.evaluate(trabalho, false)"
                                                data-ng-disabled="list.actionButtonsDisabled"
                                                type="button"
                                                >
                                                Reprovar
                                            </button>
                                        </div>
                                    </td>
                                    <td
                                        class="
                                            text-center
                                        "
                                        >
                                        <div
                                            class="
                                                btn-group-vertical
                                            "
                                            data-ng-if="trabalho.tipo_de_resumo === 'Expandido'"
                                            >
                                            <button
                                                class="
                                                    btn
                                                    btn-default
                                                    btn-xs
                                                "
                                                data-ng-class="{
                                                    'btn-info': trabalho.recomendacao === 1
                                                }"
                                                data-ng-click="list.advise(trabalho, 1)"
                                                data-ng-disabled="list.actionButtonsDisabled"
                                                type="button"
                                                >
                                                Oral
                                            </button>
                                            <button
                                                class="
                                                    btn
                                                    btn-default
                                                    btn-xs
                                                "
                                                data-ng-class="{
                                                    'btn-info': trabalho.recomendacao === 2
                                                }"
                                                data-ng-click="list.advise(trabalho, 2)"
                                                data-ng-disabled="list.actionButtonsDisabled"
                                                type="button"
                                                >
                                                Pôster
                                            </button>
                                        </div>
                                        <div
                                            data-ng-if="trabalho.tipo_de_resumo === 'Simples'"
                                            >
                                            N/A
                                        </div>
                                    </td>
                                    <td>
                                        <span
                                            data-ng-repeat="autor in trabalho.autores track by $index"
                                            >
                                            {{::autor}};
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
