#view.ng-enter {
    opacity: 0;
    transition: 0.45s linear all;
    -moz-transition: 0.45s linear all;
    -o-transition: 0.45s linear all;
    -webkit-transition: 0.45s linear all;
}
#view.ng-enter.ng-enter-active {
    opacity: 1;
}
.if.ng-enter {
    opacity: 0;
    transition: 0.45s linear all;
    -moz-transition: 0.45s linear all;
    -o-transition: 0.45s linear all;
    -webkit-transition: 0.45s linear all;
}
.if.ng-enter.ng-enter-active {
    opacity: 1;
}
.toast.ng-enter {
    animation: flipInY 1s;
    -moz-animation: flipInY 1s;
    -webkit-animation: flipInY 1s;
}
.toast.ng-leave {
    animation: flipOutY 1s;
    -moz-animation: flipOutY 1s;
    -webkit-animation: flipOutY 1s;
}
