<fieldset>
    <legend>
        Cursos Pré-Congresso
    </legend>
    <div
        class="
            alert
            alert-warning
        "
        >
        <strong>
            Atenção!
        </strong>
        Cada curso selecionado aumenta o valor final da inscrição em <strong>R$20,00</strong> (<em>vinte reais</em>).
    </div>
    <div
        class="
            form-group
        "
        >
        <label
            class="
                control-label
            "
            for="8h-12h"
            >
            8h-12h
        </label>
        <div class="checkbox">
            <label>
                <input
                    data-ng-change="cursos.setunset('curso_matutino')"
                    data-ng-disabled="
                        cursos.curso_matutino_noneditable &amp;&amp;
                        main.session.mayNot('CHANGE_COURSE')
                    "
                    data-ng-model="cursos.curso_matutino"
                    type="checkbox"
                    >
                    Quero participar de um curso <strong>matutino</strong>
            </label>
        </div>
        <div
            class="radio"
            >
            <label>
                <input
                    data-ng-disabled="
                        !cursos.curso_matutino ||
                        (
                            cursos.curso_matutino_noneditable &amp;&amp;
                            main.session.mayNot('CHANGE_COURSE')
                        )
                    "
                    data-ng-model="edit.inscricao.curso_matutino"
                    id="entadpdhiv"
                    name="curso_matutino"
                    type="radio"
                    value="ENTADPDHIV"
                    >
                    Especialidades no tratamento ambulatorial de portadores de HIV.
            </label>
        </div>
        <div
            class="radio"
            >
            <label>
                <input
                    data-ng-disabled="
                        !cursos.curso_matutino ||
                        (
                            cursos.curso_matutino_noneditable &amp;&amp;
                            main.session.mayNot('CHANGE_COURSE')
                        )
                    "
                    data-ng-model="edit.inscricao.curso_matutino"
                    id="nec"
                    name="curso_matutino"
                    type="radio"
                    value="NEC"
                    >
                    Nutrição e câncer.
            </label>
        </div>
        <div
            class="radio"
            >
            <label>
                <input
                    data-ng-disabled="
                        !cursos.curso_matutino ||
                        (
                            cursos.curso_matutino_noneditable &amp;&amp;
                            main.session.mayNot('CHANGE_COURSE')
                        )
                    "
                    data-ng-model="edit.inscricao.curso_matutino"
                    id="ccapppt"
                    name="curso_matutino"
                    type="radio"
                    value="CCAPPPT"
                    >
                    <!-- Cuidados com a pele periestomal: prevenção e tratamento. -->
                    Enfermagem em estomaterapia - Atenção integral ao paciente traquiostomizado; Atenção integral ao paciente com gastrostomia.
            </label>
        </div>
        <div
            class="radio"
            >
            <label>
                <input
                    data-ng-disabled="
                        !cursos.curso_matutino ||
                        (
                            cursos.curso_matutino_noneditable &amp;&amp;
                            main.session.mayNot('CHANGE_COURSE')
                        )
                    "
                    data-ng-model="edit.inscricao.curso_matutino"
                    id="amdi"
                    name="curso_matutino"
                    type="radio"
                    value="AMDI"
                    >
                    Avaliação multidimensional do idoso. <strong>Parte I</strong>.
            </label>
        </div>
        <div
            class="
                alert
                alert-warning
            "
            data-ng-if="edit.inscricao.curso_matutino === 'AMDI'"
            >
            O <strong>curso selecionado</strong> será em <strong>horário integral</strong>. Das <strong>8h às 12h</strong> de manhã <strong>e</strong> continuando das <strong>14h às 18h</strong> de tarde.
        </div>
    </div>
    <div
        class="
            form-group
        "
        >
        <label
            class="
                control-label
            "
            for="14h-18h"
            >
            14h-18h
        </label>
        <div class="checkbox">
            <label>
                <input
                    data-ng-change="cursos.setunset('curso_vespertino')"
                    data-ng-disabled="
                        cursos.curso_vespertino_noneditable &amp;&amp;
                        main.session.mayNot('CHANGE_COURSE')
                    "
                    data-ng-model="cursos.curso_vespertino"
                    type="checkbox"
                    >
                    Quero participar de um curso <strong>vespertino</strong>
            </label>
        </div>
        <div
            class="radio"
            >
            <label>
                <input
                    data-ng-disabled="
                        !cursos.curso_vespertino ||
                        (
                            cursos.curso_vespertino_noneditable &amp;&amp;
                            main.session.mayNot('CHANGE_COURSE')
                        )
                    "
                    data-ng-model="edit.inscricao.curso_vespertino"
                    id="ccopd"
                    name="curso_vespertino"
                    type="radio"
                    value="CCOPD"
                    >
                    Cuidados com o paciente diabético.
            </label>
        </div>
        <div
            class="radio"
            >
            <label>
                <input
                    data-ng-disabled="
                        !cursos.curso_vespertino ||
                        (
                            cursos.curso_vespertino_noneditable &amp;&amp;
                            main.session.mayNot('CHANGE_COURSE')
                        )
                    "
                    data-ng-model="edit.inscricao.curso_vespertino"
                    id="sneep"
                    name="curso_vespertino"
                    type="radio"
                    value="SNEEP"
                    >
                    Suporte nutricional enteral e parenteral.
            </label>
        </div>
        <div
            class="radio"
            >
            <label>
                <input
                    data-ng-disabled="
                        !cursos.curso_vespertino ||
                        (
                            cursos.curso_vespertino_noneditable &amp;&amp;
                            main.session.mayNot('CHANGE_COURSE')
                        )
                    "
                    data-ng-model="edit.inscricao.curso_vespertino"
                    id="amdi"
                    name="curso_vespertino"
                    type="radio"
                    value="AMDI"
                    >
                    Avaliação multidimensional do idoso. <strong>Parte II</strong>.
            </label>
        </div>
        <p
            class="
                help-block
            "
            >
            <div
                class="
                    alert
                    alert-warning
                "
                data-ng-if="edit.inscricao.curso_vespertino === 'AMDI'"
                >
                O <strong>curso selecionado</strong> será em <strong>horário integral</strong>. Das <strong>8h às 12h</strong> de manhã <strong>e</strong> continuando das <strong>14h às 18h</strong> de tarde.
            </div>
        </p>
    </div>
</fieldset>
