<nav
    class="
        navbar
        navbar-default
        navbar-static-top
    "
    >
    <div
        class="
            container-fluid
        "
        >
        <div
            class="
                navbar-header
            "
            >
            <button
                class="
                    collapsed
                    navbar-toggle
                "
                type="button"
                data-target="#navbar-collapse"
                data-toggle="collapse"
                >
                <span
                    class="
                        icon-bar
                    "
                    >
                </span>
                <span
                    class="
                        icon-bar
                    "
                    >
                </span>
                <span
                    class="
                        icon-bar
                    "
                    >
                </span>
            </button>
            <a
                class="
                    navbar-brand
                "
                href="/"
                title="Sistema de Inscrição com Gerenciamento e Acompanhamento"
                >
                siga
            </a>
        </div>
        <div
            class="
                collapse
                navbar-collapse
            "
            id="navbar-collapse"
            >
            <ul
                class="
                    nav
                    navbar-nav
                "
                data-ng-if="main.session.may('VIEW_OTHERS')"
                >
                <li
                    class="dropdown"
                    >
                    <a
                        class="
                            dropdown-toggle
                        "
                        data-toggle="dropdown"
                        href="#"
                        >
                        Inscrições
                        <span
                            class="
                                caret
                            "
                            >
                        </span>
                    </a>
                    <ul
                        class="
                            dropdown-menu
                        "
                        >
                        <li
                            data-ng-if="main.session.may('CREATE_OTHERS')"
                            >
                            <a
                                href="inscricao/nova"
                                >
                                Nova Inscrição
                            </a>
                        </li>
                        <li>
                            <a
                                href="inscricao"
                                >
                                Ver Todas
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul
                class="
                    nav
                    navbar-nav
                "
                data-ng-if="main.session.may('VIEW_OTHERS')"
                >
                <li
                    class="dropdown"
                    >
                    <a
                        class="
                            dropdown-toggle
                        "
                        data-toggle="dropdown"
                        href="#"
                        >
                        Trabalhos
                        <span
                            class="
                                caret
                            "
                            >
                        </span>
                    </a>
                    <ul
                        class="
                            dropdown-menu
                        "
                        >
                        <li>
                            <a
                                href="trabalho/enviar"
                                >
                                Enviar Trabalho
                            </a>
                        </li>
                        <li>
                            <a
                                href="trabalho"
                                >
                                Ver Todos
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul
                class="
                    nav
                    navbar-nav
                    navbar-right
                "
                >
                <li
                    data-ng-if="!main.session.email"
                    >
                    <a
                        data-ng-click="main.session.signIn()"
                        href="#"
                        >
                        <span
                            class="
                                glyphicon
                                glyphicon-user
                            "
                            >
                        </span>
                        Entrar
                    </a>
                </li>
                <li
                    class="
                        dropdown
                    "
                    data-ng-if="main.session.email"
                    >
                    <a
                        class="
                            dropdown-toggle
                        "
                        data-toggle="dropdown"
                        href="#"
                        >
                        <span
                            class="
                                glyphicon
                                glyphicon-user
                            "
                            >
                        </span>
                        {{main.session.email}}
                        <span
                            class="
                                caret
                            "
                            >
                        </span>
                    </a>
                    <ul
                        class="
                            dropdown-menu
                        "
                        >
                        <li
                            data-ng-if="main.session.inscricao"
                            >
                            <a
                                href="inscricao/{{main.session.inscricao}}"
                                >
                                Inscrição
                            </a>
                        </li>
                        <li
                            class="
                                divider
                            "
                            data-ng-if="main.session.inscricao"
                            >
                        </li>
                        <li>
                            <a
                                data-ng-click="main.session.signOut()"
                                href="#"
                                >
                                Sair
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
