<div
    class="
        row
    "
    id="home"
    >
    <div
        class="
            col-md-12
        "
        >
        <h1
            class="
                text-center
            "
            >
            V HUJBB
        </h1>
        <p
            class="
                lead
                text-center
            "
            >
            <!-- Participe do V Congresso do Hospital Universitário João de Barros Barreto. Inscrições abertas. -->
            V Congresso do Hospital Universitário João de Barros Barreto.
            <br>
            <strong>Inscrições encerradas</strong>.
        </p>
        <!--
        <div
            class="
                row
            "
            >
            <div
                class="
                    col-md-4
                    col-md-offset-2
                "
                >
                <div
                    data-ng-switch="main.state"
                    >
                    <div
                        data-ng-switch-when="usuarioInscrito"
                        >
                        <button
                            class="
                                btn
                                btn-block
                                btn-lg
                                btn-success
                            "
                            disabled
                            >
                            Desejo me inscrever
                        </button>
                    </div>
                    <div
                        data-ng-switch-when="usuarioSemInscricao"
                        >
                        <a
                            class="
                                btn
                                btn-block
                                btn-lg
                                btn-success
                            "
                            href="/inscricao/nova"
                            >
                            Desejo me inscrever
                        </a>
                    </div>
                    <div
                        data-ng-switch-when="usuarioNulo"
                        >
                        <button
                            class="
                                btn
                                btn-block
                                btn-lg
                                btn-success
                            "
                            data-ng-click="main.session.signIn('NOVA')"
                            >
                            Desejo me inscrever
                        </button>
                    </div>
                    <div
                        data-ng-switch-default
                        >
                        <button
                            class="
                                btn
                                btn-block
                                btn-lg
                                btn-success
                            "
                            disabled
                            >
                            <div
                                class="
                                    button-spinner
                                "
                                >
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="
                    col-md-4
                "
                >
                <div
                    data-ng-switch="main.state"
                    >
                    <div
                        data-ng-switch-when="usuarioInscrito"
                        >
                        <a
                            class="
                                btn
                                btn-block
                                btn-primary
                                btn-lg
                            "
                            data-ng-href="/inscricao/{{main.session.inscricao}}"
                            >
                            Já estou inscrito
                        </a>
                    </div>
                    <div
                        data-ng-switch-when="usuarioSemInscricao"
                        >
                        <button
                            class="
                                btn
                                btn-block
                                btn-primary
                                btn-lg
                            "
                            disabled
                            >
                            Já estou inscrito
                        </button>
                    </div>
                    <div
                        data-ng-switch-when="usuarioNulo"
                        >
                        <button
                            class="
                                btn
                                btn-block
                                btn-primary
                                btn-lg
                            "
                            data-ng-click="main.session.signIn('INSCRICAO')"
                            >
                            Já estou inscrito
                        </button>
                    </div>
                    <div
                        data-ng-switch-default
                        >
                        <button
                            class="
                                btn
                                btn-block
                                btn-primary
                                btn-lg
                            "
                            disabled
                            >
                            <div
                                class="
                                    button-spinner
                                "
                                >
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
