<div
    data-state="naoPagas.state"
    ez-envelope
    >
    <div
        class="
            row
        "
        >
        <div
            class="
                col-md-12
            "
            >
            <h1>
                Inscrições Não-Pagas
            </h1>
            <hr>
            <div
                class="
                    row
                "
                >
                <div
                    class="
                        col-md-12
                    "
                    >
                    <div
                        class="
                            text-right
                        "
                        >
                        Total: <b>{{naoPagas.inscricoes.length}}</b>
                    </div>
                    <div
                        class="
                            table-responsive
                        "
                        >
                        <table
                            class="
                                table
                                table-bordered
                                table-hover
                            "
                            >
                            <thead>
                                <tr>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Nascimento
                                    </th>
                                    <th>
                                        Sexo
                                    </th>
                                    <th>
                                        E-mail
                                    </th>
                                    <th>
                                        <abbr
                                            class="
                                                initialism
                                            "
                                            title="Cadastro de Pessoa Física"
                                            >
                                            CPF
                                        </abbr>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    data-ng-repeat="inscricao in naoPagas.inscricoes"
                                    >
                                    <td>
                                        <a
                                            href="inscricao/{{::inscricao.id}}"
                                            >
                                            {{::inscricao.nome_completo | uppercase}}
                                        </a>
                                    </td>
                                    <td>
                                        {{::inscricao.data_de_nascimento}}
                                    </td>
                                    <td>
                                        {{::inscricao.sexo}}
                                    </td>
                                    <td>
                                        {{::inscricao.email}}
                                    </td>
                                    <td>
                                        {{::inscricao.cpf}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
