<div
    data-state="cursos.state"
    ez-envelope
    >
    <div
        class="
            row
        "
        >
        <div
            class="
                col-md-12
            "
            >
            <h1>
                Cursos
            </h1>
            <hr>
            <div
                class="
                    row
                "
                >
                <div
                    class="
                        col-md-12
                    "
                    >
                    <div
                        class="
                            table-responsive
                        "
                        >
                        <table
                            class="
                                table
                                table-bordered
                                table-hover
                            "
                            >
                            <caption>Cursos Matutinos.</caption>
                            <thead>
                                <tr>
                                    <th>
                                        Curso
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    data-ng-if="matutino.nome"
                                    data-ng-repeat="matutino in cursos.matutinos"
                                    >
                                    <td>
                                        {{::cursos.codes[matutino.nome]}}
                                    </td>
                                    <td>
                                        {{::matutino.total}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div
                        class="
                            table-responsive
                        "
                        >
                        <table
                            class="
                                table
                                table-bordered
                                table-hover
                            "
                            >
                            <caption>Cursos Vespertinos.</caption>
                            <thead>
                                <tr>
                                    <th>
                                        Curso
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    data-ng-if="vespertino.nome"
                                    data-ng-repeat="vespertino in cursos.vespertinos"
                                    >
                                    <td>
                                        {{::cursos.codes[vespertino.nome]}}
                                    </td>
                                    <td>
                                        {{::vespertino.total}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div
                        class="
                            table-responsive
                        "
                        >
                        <table
                            class="
                                table
                                table-bordered
                                table-hover
                            "
                            >
                            <caption>Cursos Matutinos (Inscrições Não Confirmadas).</caption>
                            <thead>
                                <tr>
                                    <th>
                                        Curso
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    data-ng-if="matutino.nome"
                                    data-ng-repeat="matutino in cursos.matutinosNaoConfirmados"
                                    >
                                    <td>
                                        {{::cursos.codes[matutino.nome]}}
                                    </td>
                                    <td>
                                        {{::matutino.total}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div
                        class="
                            table-responsive
                        "
                        >
                        <table
                            class="
                                table
                                table-bordered
                                table-hover
                            "
                            >
                            <caption>Cursos Vespertinos (Inscrições Não Confirmadas).</caption>
                            <thead>
                                <tr>
                                    <th>
                                        Curso
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    data-ng-if="vespertino.nome"
                                    data-ng-repeat="vespertino in cursos.vespertinosNaoConfirmados"
                                    >
                                    <td>
                                        {{::cursos.codes[vespertino.nome]}}
                                    </td>
                                    <td>
                                        {{::vespertino.total}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
