<div
    class="
        row
    "
    >
    <div
        class="
            col-md-12
        "
        >
        <h1>
            Relatórios
        </h1>
        <hr>
        <div
            class="
                row
            "
            >
            <div
                class="
                    col-md-12
                "
                >
                <div
                    class="
                        list-group
                    "
                    >
                    <a
                        class="
                            list-group-item
                        "
                        href="/inscricao/relatorio/confirmadas"
                        >
                        Inscrições Confirmadas
                    </a>
                    <a
                        class="
                            list-group-item
                        "
                        href="/inscricao/relatorio/pagas"
                        >
                        Inscrições Pagas
                    </a>
                    <a
                        class="
                            list-group-item
                        "
                        href="/inscricao/relatorio/nao-pagas"
                        >
                        Inscrições Não-Pagas
                    </a>
                    <a
                        class="
                            list-group-item
                        "
                        href="/inscricao/relatorio/isentas"
                        >
                        Inscrições Isentas
                    </a>
                    <a
                        class="
                            list-group-item
                        "
                        href="/inscricao/relatorio/cursos"
                        >
                        Cursos
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div
    data-state="list.state"
    ez-envelope
    >
    <div
        class="
            row
        "
        >
        <div
            class="
                col-md-12
            "
            >
            <h1>
                Inscrições Confirmadas
            </h1>
            <hr>
            <div
                class="
                    row
                "
                >
                <div
                    class="
                        col-md-12
                    "
                    >
                    <div
                        class="
                            text-right
                        "
                        >
                        Total: <b>{{list.inscricoes.length}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
